{% extends 'base.html.twig' %}

{% block title %}X Fit-2.0 Evolution{% endblock %}

{% block body %}
    <main class="principal">
        <section data-bs-version="5.1" class="slider2 cid-sZ7jNpA9Jw" id="slider2-2">
            <br>
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <img class="imagenLogo" src="images/evoLogo.jpeg">
                </div>
            </div>
        </section>
    </main>
{% endblock %}
