<section data-bs-version="5.1" class="menu menu1 cid-sZ7aZDOfc3" once="menu" id="menu1-0">
    <div class="row justify-content-center">
        <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
            <div class="container">
                <div class="navbar-brand">
                    <span class="navbar-logo">
                        <a href="https://www.instagram.com/luchocabrera2.0" target="_blank">
                            <img src="/images/evoLogo.svg" alt="X Fit-2.0 Evolution" style="height: 5rem;">
                        </a>
                    </span>
                    <span>
                        <p style='display:inline-block'>Los Ejercicios no cambias, cambias vos</p>
                    </span>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <div class="hamburger" style="color:black;">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true">
                        <li class="nav-item">
                            <a class="nav-link link text-black text-primary display-4" href="{{ path('app_main')}}">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link text-black text-primary display-4" href="#" target="_blank">Rutinas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link text-black text-primary display-4" href="#" target="_blank">Eventos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link text-black text-primary display-4" href="#" target="_blank">Promos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link text-black text-primary display-4" href="#" target="_blank">Venta de Elementos</a>
                        </li>
                    </ul>
                    <div class="icons-menu">
                        <a class="iconfont-wrapper" href="https://mobiri.se" target="_blank">
                            <span class="p-2 mbr-iconfont socicon-facebook socicon" style="color: rgb(255, 255, 255); fill: rgb(255, 255, 255);"></span>
                        </a>
                        <a class="iconfont-wrapper" href="https://mobiri.se" target="_blank">
                            <span class="p-2 mbr-iconfont socicon-twitter socicon" style="color: rgb(255, 255, 255); fill: rgb(255, 255, 255);"></span>
                        </a>
                        
                        
                    </div>
                    
                </div>
            </div>
        </nav>
    <div>
</section>